<!-- flash success message -->
<% if(success && success.length) {%> <!--check to see if success message exists and if it's not empty-->
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<!-- flash success message -->
<% if(error && error.length) {%> <!--check to see if success message exists and if it's not empty-->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>