<footer class="footer bg-dark py-3 mt-auto"> <!--mt is set to auto, which puts footer at bottom of content or page -- works because of flex box -->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022</span>
    </div>
</footer>
