<% layout('/layouts/boilerplate')%> <!-- using ejs-mate for layout design -->
    <h1>All Campgrounds</h1>
        <a href="/campgrounds/new">Add New</a>

    <ul>
        <% for (let campground of campgrounds) {%>
            <li><a href="/campgrounds/<%=campground._id%>"><%= campground.title %></a></li>
        <% } %>
    </ul>
